<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FINAL_GSCPMS_OOP_PROJECT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FINAL_GSCPMS_OOP_PROJECT.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=192.168.100.226,1433;Initial Catalog=Employee;Persist Security Info=True;User ID=Stephen;Password=Stephen07;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FINAL_GSCPMS_OOP_PROJECT.Properties.Settings>
            <setting name="PrivacyAccepted" serializeAs="String">
                <value>False</value>
            </setting>
        </FINAL_GSCPMS_OOP_PROJECT.Properties.Settings>
    </userSettings>
</configuration>